<!-- LUANLV start edit 20161023  -->
<h1><%= t(:province_index_title) %> (<%= @provinces.total_entries %>)</h1>
<!-- LUANLV start edit 20161023  -->

<%= render "search" %>
<%= render "list" %>
<%= render "import" %>


