<br/>
<%= simple_form_for :category_news, url: destroy_multiple_admin_category_news_index_path, :method => :delete do |f| %>
    <table class="table table-bordered table-striped table-responsive">
      <thead>
      <tr>
        <th><%= t(:index) %></th>
        <th><%= check_box_tag '', 0, false, class: 'checkAll' %></th>
        <th><%= t(:category_news_name) %></th>
        <th><%= t(:category_news_description) %></th>
        <th style="width: 200px"></th>
      </tr>
      </thead>
      <tbody>
      <% @category_news.each_with_index do |category_news, index| %>
          <tr>
            <td class="text-center" width="45"><%= index %></td>
            <td width="30"><%= check_box_tag "ids[]", category_news.id, false, class: 'selectable-checkbox each_item' %></td>
            <td><%= category_news.name %></td>
            <td><%= category_news.description %></td>
            <td with="150">
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-default\"><span class=\"glyphicon glyphicon-eye-open\"></span></button>")), [:admin, category_news] %>
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-success\"><span class=\"glyphicon glyphicon-duplicate\"></span></button>")), duplicate_admin_category_news_index_path(category_news) %>
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-primary\"><span class=\"glyphicon glyphicon-pencil\"></span></button>")), edit_admin_category_news_path(category_news) %>
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-danger\"><span class=\"glyphicon glyphicon-remove\"></span></button>")), [:admin, category_news], method: :delete, data: {confirm: t(:destroy_confirm)} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= will_paginate @category_news, :previous_label => t(:previous), :next_label => t(:next), class: 'pull-right' %>
    <br/>
    <%= f.button :submit, t(:delete_selected), class: 'btn btn-default' %>
<% end %>