<%= simple_form_for(@cource_tag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :cource %>
    <%= f.association :tag %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
