<%= simple_form_for :news, url: destroy_multiple_admin_news_index_path, :method => :delete do |f| %>
    <br>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><%= t(:index) %></th>
        <th><%= check_box_tag '', 0, false, class: 'checkAll' %></th>
        <th><%= t(:news_category) %></th>
        <th><%= t(:news_title) %></th>
        <th><%= t(:news_image) %></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @news.each_with_index do |news, index| %>
          <tr>
            <td class="text-center" width="45"><%= index + 1 %></td>
            <td width="30"><%= check_box_tag 'ids[]', news.id, false, class: 'selectable-checkbox each_item' %></td>
            <% if !news.category_news.blank? %>
                <td><%= news.category_news.name %></td>
            <% else %>
                <td></td>
            <% end %>
            <td><%= news.title %></td>
            <td><%= image_tag news.image.url(:thumb) %></td>

            <td width="190">
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-default\"><span class=\"glyphicon glyphicon-eye-open\"></span></button>")), [:admin, news] %>
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-success\"><span class=\"glyphicon glyphicon-duplicate\"></span></button>")), duplicate_admin_news_index_path(news) %>
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-primary\"><span class=\"glyphicon glyphicon-pencil\"></span></button>")), edit_admin_news_path(news) %>
              <%= link_to (raw("<button type=\"button\" class=\"btn btn-danger\"><span class=\"glyphicon glyphicon-remove\"></span></button>")), [:admin, news], method: :delete, data: {confirm: t(:destroy_confirm)} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @news, :previous_label => t(:previous), :next_label => t(:next), class: 'pull-right' %>
    <br>
    <%= f.button :submit, t(:delete_selected), class: 'btn btn-default' %>
<% end %>
<br>
