<!-- LUANLV start edit 20161103  -->
<h1><%= t(:feedback_index_title) %> (<%= @feedbacks.total_entries %>)</h1>
<!-- LUANLV start edit 20161103  -->

<%= render "search" %>
<%= render "list" %>
<%= render "import" %>