<%= simple_form_for(@user_adit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user%>
    <%= f.association :cource %>
    <%= f.input :action_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
