<div class="row">

  <div class="col-md-9">
    <% @news.each do |new| %>
      <div>
        <h2>
          <%= link_to new.title, news_path(new) %>
        </h2>
        <p>
          <span class="glyphicon glyphicon-time"></span>&nbsp<%= new.created_at.strftime("%m/%d/%Y %I:%M") %><%= t(:by) %> <a href="#"><%= t(:admin) %></a>
        </p>

        <hr>
        <img class="img-responsive" src="<%= new.image.url(:large) %>" alt="" style="height: 300px; width: 900px">
        <hr>
        <p><strong><%= raw(new.description) %></strong></p>
        <!--, class: "btn btn-primary"-->
        <%= link_to (raw( t(:read_more)+"<span class=\"glyphicon glyphicon-chevron-right\"></span>")), news_path(new), class: "btn btn-primary" %>
        <hr>
      </div>
    <% end %>
      <!-- Pager -->
    <%= will_paginate @news, :previous_label => t(:previous), :next_label => t(:next), class: 'pull-right' %>

  </div>

  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-3">
    <br><br>
    <%= render('shared/news_right_sidebar') %>
  </div>
</div>
<hr>

