<!-- LUANLV start edit 201611102 -->
<h1><%= t(:tag_index_title) %> (<%= @tags.total_entries %>)</h1>
<!-- LUANLV start edit 20161102  -->

<%= render "search" %>
<%= render "list" %>
<%= render "import" %>
