<%= simple_form_for [:admin, @cource] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :category, include_blank: t(:cource_category_selector), :label_method => lambda { |owner| "#{owner.name}" }, label: t(:cource_category) %>
      <%= f.input :name, label: t(:cource_name) %>
      <%= f.association :user, include_blank: t(:cource_user_selector), :label_method => lambda { |owner| "#{owner.email}" }, label: t(:cource_user) %>
      <%= f.association :province, include_blank: t(:cource_province_selector), :label_method => lambda { |owner| "#{owner.name}" }, label: t(:cource_province) %>
      <%= f.input :start_date, label: t(:cource_start_date) %>
      <%= f.input :schedule, label: t(:cource_schedule) %>
      <%= f.input :cource_date, label: t(:cource_date) %>
      <%= f.input :duration, label: t(:cource_duration) %>
      <%= f.input :end_date, label: t(:cource_end_date) %>
      <%= f.input :address, label: t(:cource_address) %>
      <%= f.input :cost, label: t(:cource_cost), as: :integer %>
      <%= f.input :cost_description, label: t(:cource_cost_description) %>
      <%= f.input :promotion, label: t(:cource_promotion) %>
      <%= f.input :promotion_description, label: t(:cource_promotion_description) %>
      <!--TOANDK EDIT 17-11-2016-->
      <div id="pictureInput">
        <%= f.input :image, label: t(:cource_image), as: :file %>
      </div>
      <div id="target">
        <% if !@cource.image.blank? %>
            <img src="<%= @cource.image.url %>" style="max-height: 100px; width: auto%">
        <% end %>
      </div>
      <br>
      <!--TOANDK EDIT 17-11-2016-->    <%= f.input :content, label: t(:cource_content), as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'}} %>
      <%= f.input :representative, label: t(:cource_representative) %>
      <%= f.input :email, label: t(:cource_email) %>
      <%= f.input :hotline, label: t(:cource_hotline), as: :integer %>
      <%= f.input :organization_name, label: t(:cource_organization_name) %>
      <%= f.input :organization_address, label: t(:cource_organization_address) %>
      <%= f.input :organization_phone, label: t(:cource_organization_phone), as: :integer %>
      <%= f.input :organization_email, label: t(:cource_organization_email) %>
      <%= f.input :organization_website, label: t(:cource_organization_website) %>
      <%= f.input :organization_facebook, label: t(:cource_organization_facebook) %>
      <%= f.input :status, include_blank: false, label: t(:cource_status), collection: 0..3, :label_method => lambda { |owner| status_convert_cources(owner) } %>
      <%= f.input :featured, include_blank: false, label: t(:cource_featured), collection: 0..2, :label_method => lambda { |owner| featured_convert(owner) } %>
      <%= f.input :rate, include_blank: t(:cource_rate_selector), label: t(:cource_rate), collection: 1..5 %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, t(:update) %> <%= link_to t(:back), admin_cources_path %>
    </div>
    <br/>
<% end %>