<h1><%= t(:category_index_title) %> : <%= t(:show) %></h1>

<p>
  <strong><%= t(:category_name) %>:</strong>
  <%= @category.name %>
</p>

<p>
  <strong><%= t(:category_description)%>:</strong>
  <%= @category.description %>
</p>

<%= link_to t(:edit), edit_admin_category_path(@category), class: 'btn btn-default' %> |
<%= link_to t(:back), admin_categories_path %>
