<h1><%= t(:group_index_title) %>(<%= @groups.total_entries %>)</h1>

</br>
<%= simple_form_for :groups, url: destroy_multiple_admin_groups_path, :method => :delete do |f| %>
<table class="table table-bordered table-striped table-responsive">
  <thead>
  <tr>
    <th><%= t(:index) %></th>
    <th><%= check_box_tag '', 0, false, class: 'checkAll' %></th>
    <th><%= t(:group_label_name) %></th>
    <th><%= t(:group_label_description) %></th>
    <th style="text-align: center"><%= t(:group_label_level) %></th>
  </tr>
  </thead>
  <tbody>
  <% @groups.each_with_index do |group, index| %>
      <tr>
        <td class="text-center" width="45"><%= index + 1 %></td>
        <td width="30"><%= check_box_tag "ids[]", group.id, false, class: 'selectable-checkbox each_item' %></td>
        <td><%= group.name %></td>
        <td><%= raw(group.description) %></td>
        <td class="text-center"><%= group.level %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @groups, :previous_label => t(:previous), :next_label => t(:next), class: 'pull-right' %>
<% end %>
