<br>
<table class="table table-bordered table-striped table-responsive">
  <thead>
  <tr>
    <th><%= t(:index) %></th>
    <th><%= t(:dashboard_col1) %></th>
    <th><%= t(:dashboard_col2) %></th>
    <th><%= t(:dashboard_col3) %></th>
    <th>Hình ảnh(Medium)</th>
    <th>Hình ảnh(Thumb)</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @dashboards.each_with_index do |dashboard, index| %>
      <tr>
        <td class="text-center" width="30"><%= index %></td>
        <td><%= dashboard.col1 %></td>
        <td><%= dashboard.col2 %></td>
        <td><%= raw(dashboard.col3) %></td>
        <td><%= image_tag dashboard.image.url(:medium) %></td>
        <td><%= image_tag dashboard.image.url(:thumb) %></td>
        <td width="150">
          <%= link_to (raw("<button type=\"button\" class=\"btn btn-default\"><span class=\"glyphicon glyphicon-eye-open\"></span></button>")), [:admin, dashboard] %>
          <%= link_to (raw("<button type=\"button\" class=\"btn btn-primary\"><span class=\"glyphicon glyphicon-pencil\"></span></button>")), edit_admin_dashboard_path(dashboard) %>
          <%= link_to (raw("<button type=\"button\" class=\"btn btn-danger\"><span class=\"glyphicon glyphicon-remove\"></span></button>")), [:admin, dashboard], method: :delete, data: { confirm: t(:destroy_confirm) } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @dashboards, :previous_label => t(:previous), :next_label => t(:next), class: 'pull-right' %>