<h1><%= t(:user_index_title) %> (<%= @users.total_entries %>)</h1>

<!--PHONGVD UPDATE 20161024-->
<%= render "search" %>
<%= render "list" %>
<%= render "import" %>
<br>
<!--PHONGVD END UPDATE 20161024-->

